<!--templates/base.html-->
{% load static %}
{% load django_browser_reload %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hritik Saynganthone</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/dark.css' %}">
    <link rel="stylesheet" href="{% static 'css/simple-icons.css' %}">
</head>

<body>
    <header>
        {% url 'home' as home_url %}
        <a href="{{ home_url }}">HOME</a>

        {% url 'projects' as projects_url %}
        <a href="{{ projects_url }}">PROJECTS</a>

        {% url 'thesis' as thesis_url %}
        <a href="{{ thesis_url }}">THESIS</a>
    </header>

    {% block content %}
    {% endblock content %}

    <footer id="contact">
        HRITIK SAYNGANTHONE, MMXXVI
    </footer>

    {% django_browser_reload_script %}
</body>

</html>