<!--templates/base.html-->
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hritik Saynganthone</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
    <nav>
        <ul>
            {% url 'home' as home_url %}
            <li><a href="{{ home_url }}">HOME</a></li>

            {% url 'projects' as projects_url %}
            <li><a href="{{ projects_url }}">PROJECTS</a></li>

            {% url 'thesis' as thesis_url %}
            <li><a href="{{ thesis_url }}">THESIS</a></li>
        </ul>
    </nav>

    <div>
        {% block content %}
        {% endblock content %}

        <footer id="contact">
            <span>HRITIK SAYNGANTHONE, MMXXVI</span>
            <span>hritik@saynganth.one</span>
        </footer>

    </div>
</body>

</html>