<!--templates/home.html-->
{% extends "base.html" %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css %}

{% block content %}
<section class="hero">
    <div>
        <span class="badge">Husband, Computer Scientist, Orchestral Conductor</span>
        <h1>Hritik<br>Saynganthone</h1>
        <br>
    </div>
    <div class="photo-slot profile">
        <img src="{% static 'img/hritiks.jpg' %}">
    </div>
</section>
{% endblock content %}