<!--templates/home.html-->
{% extends "base.html" %}
{% load static %}

{% block content %}
<figure class="portrait">
    <img src="{% static 'img/hritiks.jpg' %}" alt="Hritik Saynganthone" width="512px">
</figure>

<h2>Husband, computer scientist, &amp; orchestral conductor. Call me Ricky.</h2>

<p>Hi! I am a machine learning and general software engineer based in Rochester NY. I specialize in developing machine learning models using PyTorch, but have work experience in frontend, backend, and devops.</p>
<p>I am currently looking for a software engineering position either in-person/hybrid in the Rochester, Buffalo, or Syracuse area, or anywhere remote. I am a US citizen and do not require any kind of sponsorship in order to work in the United States.</p>

<h2>Work Experience</h2>
<!--TODO-->

<h2>Education</h2>
<!--TODO-->
<p>I am a recent MSc graduate from Rochester Institute of Technology. I was also a member of RIT's <a href="https://www.cs.rit.edu/~dprl/">Document Pattern and Recognition Lab</a>, lead by <a href="https://www.cs.rit.edu/~rlaz/">Dr. Richard Zanibbi</a>.</p>

<h2>Orchestral Conducting</h2>
<!--TODO-->

<h2>Website</h2>
<p>This entire website is a static self-hosted site built using Django 6 and Python 3.13. All the HTML was written by hand and no CSS frameworks were used.</p>
<p>The theming of this website is based on the personal site of <a href="https://www.jeffgeerling.com/about/">Jeff Geerling</a> using the <a href="https://github.com/athul/archie">Archie Theme</a>.</p>

{% endblock content %}