<!--templates/projects.html-->
{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Projects</h1>
<h2>Academic Projects</h2>
<p>Besides my thesis, I had the privilege of working on several projects during my time at RIT. Detailed below are some of the most interesting.</p>

<h3><a href="https://github.com/rg4825/csci-716-final-project">Airspace Sectorization via Voronoi Diagrams</a></h3>
<figure class="portrait-right" style="max-width: 225px">
    <img src="{% static 'img/Voronoi_growth_euclidean.gif' %}" alt="voronoi">
</figure>
<p>Was one of three main developers on the project. My task was to develop an algorithm to sectorize a given airspace using a voronoi diagram based on restrictions simulated via a genetic algorithm.</p>
<ul>
    <li><i>Python</i></li>
    <li><i>Genetic Algorithms</i></li>
    <li><i>Voronoi Diagrams</i></li>
    <li><i>OpenSky</i></li>
    <li><i>FastAPI</i></li>
    <li><i>NumPy</i></li>
</ul>

<h3><a href="https://github.com/rg4825/rg4825-RTGL/tree/master">From Scratch Raytracing Engine</a></h3>
<figure class="portrait-right" style="max-width: 350px">
    <img src="{% static 'img/output.png' %}" alt="raytracing">
</figure>
<p>Developed multithreaded raytracing engine that can render simple objects within 3D space. The entire thing was written from scratch and designed to modular such that new objects could be easily created and placed into the world.</p>
<ul>
    <li><i>C#</i></li>
    <li><i>Thread Pools</i></li>
    <li><i>Object-Oriented Principles</i></li>
</ul>

<h3>Full Stack E-Store Web App</h3>
<p>Utilized Java Spring Boot & Angular in order to uphold key object-oriented design principles. Employed the full Agile development cycle with a team of software developers from start to finish.</p>
<ul>
    <li><i>Java</i></li>
    <li><i>Spring Boot</i></li>
    <li><i>Object-Oriented Principles</i></li>
    <li><i>RESTful APIs</i></li>
    <li><i>Angular</i></li>
    <li><i>Bulma</i></li>
    <li><i>Agile Scrum</i></li>
    <li><i>Trello</i></li>
    <li><i>SonarQube</i></li>
    <li><i>GitHub</i></li>
</ul>

<h2>Personal Projects</h2>
<p>I also worked on a few personal projects. Below are some of the most interesting.</p>

<h3>Depth First Search Sudoku Solver</h3>
<p>Independently created a Java interface and class file to solve DFS-compliant puzzles. Formulated and executed a way to take in 9x9 sudoku puzzles and output a solution as a command line application. Implemented in two different languages as an exercise in understanding how C# works.</p>
<ul>
    <li><i>Java</i></li>
    <li><i>C#</i></li>
    <li><i>Object-Oriented Principles</i></li>
</ul>

<h3>Personal Website Built in Django</h3>
<p>Used a lack of a personal website as a way to learn Django and get better at writing raw HTML/CSS. Utilized Docker Compose and Cloudflare tunnels in order to complete self-host the website on my own personal server (no cloud).</p>
<ul>
    <li><i>Python</i></li>
    <li><i>Django</i></li>
    <li><i>PostgreSQL</i></li>
    <li><i>Docker Compose</i></li>
    <li><i>Gunicorn</i></li>
    <li><i>Virtualenv</i></li>
    <li><i>Makefile</i></li>
    <li><i>Nginx</i></li>
    <li><i>Cloudflare Tunnels</i></li>
</ul>

{% endblock content %}