<!--templates/work.html-->
{% extends "base.html" %}

{% block content %}
<h1>Work Experience</h1>
<h2>Solü Technology Partners</h2>
<div class="meta">
    <p><i>Software Development Intern</i> in Victor, NY</p>
</div>

<p>The bulk of my software engineering experience comes from my time at <b>Solü Technology Partners</b>. I worked on several projects while there, over three separate blocks.</p>
<p>References:</p>
<ul>
    <li><a href="https://www.linkedin.com/in/markwalterchadbourne/">Mark Chadbourne</a></li>
    <li><a href="https://www.linkedin.com/in/tom-sheppard-47578413/">Tom Sheppard</a></li>
</ul>

<h3>January 2023 - August 2023</h3>
<p>Worked with an established code base with other interns, utilizing Agile Scrum methodologies within the Atlassian suite of tools. Utilized several JVM-based technologies for backend development of new web application features. Interfaced with both MySQL and MongoDB databases for user and application data, respectively. Created several new frontend features, applying MVC design patterns and component-based architectures using Angular. Verified and produced several API endpoints using Postman, to be hit in various stages of the application lifecycle.</p>
<p>Unified and simplified software infrastructure by completely containerizing the entire development, testing, and production environments with Docker Compose and AWS ECR/ECS. Introduced the use of automated tested via AWS CodePipeline for simultaneous backend, frontend, API, and system integration tests.</p>
<ul>
    <li>Backend: <i>Java</i>, <i>Kotlin</i>, <i>Maven</i>, <i>Gradle</i>, <i>Spring Boot</i>, <i>RESTful APIs</i></li>
    <li>Databases: <i>Mongock</i>, <i>MongoDB</i>, <i>MySQL</i></li>
    <li>Frontend: <i>Angular</i>, <i>MVC</i>, <i>Typescript</i>, <i>HTML</i>, <i>CSS</i></li>
    <li>Devops: <i>Python</i>, <i>Bash</i>, <i>Docker</i>, <i>Docker Compose</i>, <i>Microservices Architecture</i>, <i>AWS ECR/ECS</i>, <i>AWS EC2</i>, <i>CI/CD</i></li>
    <li>Testing: <i>Postman</i>, <i>Swagger</i>, <i>Python</i>, <i>Selenium</i></li>
    <li>Application lifecycle: <i>Git</i>, <i>Trello</i>, <i>Agile Scrum</i>, <i>Confluence</i>, <i>BitBucket</i>, <i>Object-Oriented Principles</i></li>
</ul>

<h3>May 2024 - December 2024</h3>
<p>Continued the development and upkeep of previously implemented systems and features. Led the development of the Solü Application Service Tool, a Python-based command line tool that can be used by developers to quickly instantiate different environments on any system they are using. Initialized the development of a multi-tenant system, allowing a different backend system to be loaded with different data without needing a completely separate environment.</p>
<ul>
    <li>Backend: <i>Java</i>, <i>Kotlin</i>, <i>Spring Boot</i>, <i>RESTful APIs</i></li>
    <li>Databases: <i>Mongock</i>, <i>MongoDB</i>, <i>MariaDB</i></li>
    <li>Devops: <i>Python</i>, <i>Bash</i>, <i>Docker</i>, <i>Docker Compose</i></li>
    <li>Testing: <i>Python</i></li>
    <li>Application lifecycle: <i>Git</i>, <i>Trello</i>, <i>Agile Scrum</i>, <i>Confluence</i>, <i>BitBucket</i>, <i>Object-Oriented Principles</i></li>
</ul>

<h3>May 2025 - August 2025</h3>
<p>Maintained the previously developed web application as the sole developer on the project. Implemented an MVP Retrieval Augmented Generation system using LibreChat, such that company data could be stored in a vector database and an LLM could be queried for information therein.</p>
<ul>
    <li>Backend: <i>LibreChat</i>, <i>Python</i>, <i>ChatGPT</i>, <i>AzureAI Foundry</i></li>
    <li>Frontend: <i>LibreChat</i></li>
    <li>Databases: <i>Azure CosmosDB</i></li>
    <li>Application lifecycle: <i>Git</i>, <i>Confluence</i>, <i>BitBucket</i></li>
</ul>

<h2>Kate Gleason College of Engineering</h2>
<div class="meta">
    <p><i>Research Assistant</i> in Rochester, NY</p>
</div>

<p>I also did some work at the <b>Kate Gleason College of Engineering</b>. I worked on one primary project during my time there.</p>
<h3>January 2022 - May 2022</h3>
<p>Designed and developed the Hybrid Learning Optimization Solver Architecture, used to wire several mathematical optimizers together for finding approximations to NP-hard problems. Instituted a client-server oriented API to interface with multiple solvers, including both traditional algorithms and machine learning algorithms.</p>
<ul>
    <li>Backend: <i>C#</i>, <i>Java</i>, <i>ASP.NET</i>, <i>Python</i>, <i>Apache Kafka</i>, <i>FastAPI</i></li>
    <li>Application lifecycle: <i>Git</i></li>
</ul>

{% endblock content %}