/* static/css/custom.css */
:root {

    /* Dark theme colors */
    --color-primary-dark: #F55D5D;
    --color-primary-hover-dark: #c54c4c;
    --color-border-dark: #4b9afb;
    --color-text-dark: #ffffff;
    --color-text-muted-dark: #dddddd;
    --color-background-dark: #1E1E1E;
    --color-background-code-dark: #252525;
    --color-background-pre-dark: #252525;
    --color-background-toc-dark: #252525;
    --color-background-draft-dark: #4b9afb;
    --color-border: #00bfb2;

    /* header colors */
    --header-1: #FF4775;
    --header-2: #FF6F60;
    --header-3: #4A9BFB;
    --header-4: #FFCA60;
    --header-5: #01BFB2;
    --header-6: #DF61FF
}

html {
    font-family: 'JetBrains Mono', monospace;
}

p {
    font-family: 'Montserrat', -apple-system, sans-serif;
}

.callout p {
    font-family: 'JetBrains Mono', monospace;
}

h1 {
    font-size: 1.25rem;
}

h2 {
    font-size: 1.20rem;
}

h3 {
    font-size: 1.15rem;
}

h4 {
    font-size: 1.10rem;
}

h5 {
    font-size: 1.05rem;
}

h6 {
    font-size: 1.00rem;
}

h1::before {
    color: var(--header-1);
    content: '# ';
}
h2::before {
    color: var(--header-2);
    content: '## ';
}
h3::before {
    color: var(--header-3);
    content: '### ';
}
h4::before {
    color: var(--header-4);
    content: '#### ';
}
h5::before {
    color: var(--header-5);
    content: '##### ';
}
h6::before {
    color: var(--header-6);
    content: '###### ';
}

.portrait-left {
    padding-left: 0;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
    max-width: 300px;
    width: 60%;
    height: auto;
    float: left;
}

.portrait-right {
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 0;
    max-width: 350px;
    float: right;
    width: 60%;
    height: auto;
}

ul > li::before {
    color: var(--header-5);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1.2rem;
    /* Fallback for older browsers */
    margin-top: 1em;
    margin-bottom: 0.5em;
    /* Modern logical properties */
    margin-block-start: 1em;
    margin-block-end: 0.5em;
    line-height: 1.2;
}